<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Mountain Track Apps</title>
    <link rel="stylesheet" href="vendor/foundation.css">
    <link rel="stylesheet" href="stylesheets/mountain_track_apps.css">
    <script src="vendor/jquery-2.1.0.js"></script>
    <script src="vendor/modernizr.js"></script>
    <script src="vendor/foundation.min.js"></script>
    <script src="javascripts/mountain_track_apps.js"></script>
  </head>
  <body>
    <%= content %>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44149839-1', 'mountaintrackapps.com');
    ga('send', 'pageview');
  </script>
</html>
